services:
  postgres:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
  ingest:
    build: ./scripts
    command: python scripts/ingest_data.py
    env_file:
      - .env
    volumes:
      - ./scripts:/scripts
    depends_on:
      - postgres
    restart: "no"  # This prevents the container from restarting after completion
    networks:
      - app_network
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_UID=/var/lib/grafana/dashboards/default.json
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      ingest:
        condition: service_completed_successfully    
    networks:
      - app_network
volumes:
  postgres_data:
networks:
  app_network:
